

/* OVERALL */
* {
    font-family: 'Courier New', Courier, monospace;
    line-height: 25px;
    letter-spacing: .5px;
}  

body {
    margin: 0;
    padding: 0;
    background-color: #110901;
    background-image: url(../images/TanFiber.jpg);
    text-align: left;
    
}

h1 {
    color: #110901;
    font-size: 40px;
}

h3 {
    color: #110901;
    font-size: 24px;
}

p {
    font-size: 16px;
    color: #110901;
    font-weight: bold;
    line-height: 40px;
}


.button a {
    display: block;
    width: 200px;
    height: 50px;
    background-color: #110901;
    color: #CABDA5;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}


.page-container {
    background-color: #F8F8EE;
    margin: 70px;
    border-radius: 8px;
    
}

  /* INDEX PAGE */

#index {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(../images/nixon-firstlady.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 3rem;
    text-align: center;
    color: #CABDA5;
    margin-bottom: 1rem;
}

button {
    background-color: #110901;
    color: #CABDA5;
    font-size: 1.4em;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

a button:hover {
    background-color: #555;
    cursor: pointer;
}

h1.heading {
    color: #ECE3D3;
    font-size: 4em;
}



  /* MAIN PAGE */

#main-page-banner {
    background-image: url(../images/nixonhandshake.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    opacity: 40%;
    
}

.header {
    display: flex;
    align-items: center;
    margin-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    color: #F8F8EE;
    padding: 1rem;
}

.header a {
    text-decoration: none;
    color: #F8F8EE;
}
.header a:hover {

    color: #d8d8d8;
}

.title {
    font-size: 2rem;
    margin: 0;
    margin-right: 400px;
    margin-left: 40px;
    padding: 0;
}


  /* nav */

.nav {
    margin: 0;
    padding: 0;

    display: flex;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;


}
.nav li {
    margin-left: 1rem;
}

.nav a {
    margin: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    color: #fff;
}

.nav a:hover {
    background-color: #fff;
    color: #333;
}



.line-1{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    top: 50%;  
    width: 24em;
    margin-left: 280px;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 350%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
    height: 50px;  
    padding: 20px;
    color: whitesmoke;
}

/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
                blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 20em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}




/* left and right divs */

.split-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    margin-bottom: 100px;
    margin-top: 50px;

}

.left {
    width: 50%;
	height: 100%;
	text-align: center;
    padding: 20px;
    
}

.right {
    width: 50%;
	height: 100%;
	text-align: center;
    padding: 20px;
}






  /* sections */


section {
    margin: 3em;
    

}
.section-heading {
    width: 500px;
    text-align: center;
    margin-left: 450px;
    margin-top: 0;
}
.sub-section {
    background-color: #F8F8EE;
    padding: 20px 280px;
    
    
    
}












  /* Intro */

#intro {
    height: 370vh;

}

  /* Before */
#before {
    
    height: 300vh;

}

  /* During */
#during {
    height: 400vh;

}

  /* After */
#after {
    height: 600vh;

}




.image-link {

}

.image-link:hover {
    
    opacity: 30%;
}


  /* ABOUT PAGE */
